* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 100;
}

body {
  padding: 1rem;
  background: linear-gradient(to bottom right, #fa2e47, #f96951);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  flex: 1 1 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.progress {
  font-weight: 500;
  padding-bottom: 0.45rem;
}

.to-do-creator {
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
  outline: none;
  background: transparent;
}

::placeholder {
  color: white;
  opacity: 1;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

/* Necessary wrapper layer: animation div can't have border*/
.todo {
  position: relative;
  list-style: none;
  border-bottom: 1px solid white;
}

.todo-content {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.todo-form {
  width: 100%;
  padding-right: 1rem;
}

.todo-value {
  border: none;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
  margin-right: 1rem;
  background: transparent;
  text-overflow: ellipsis;
}

.is-done .todo-value {
  text-decoration: line-through;
}

.options {
  display: flex;
  align-items: center;
}

.options > *:not(:last-of-type) {
  margin-right: 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.icon.drag {
  cursor: grab;
}

.slide {
  padding: 1rem;
}

.slide-enter {
  opacity: 0.01;
  max-height: 0;
  overflow: hidden;
}
.slide-enter-active {
  opacity: 1;
  max-height: 56px;
  overflow: hidden;
  transition: all 300ms ease-out;
}
.slide-exit {
  opacity: 1;
  max-height: 56px;
  overflow: hidden;
}
.slide-exit-active {
  opacity: 0.01;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease-out;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}
